{% extends "main.html" %}
{% block title %}
watched series
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        {% for i in later_key %}
        <div class="col-sm-6 col-lg-4 mt-4">
            <div class="card">
                <img src="{{i.image.url}}" class="card-img-top" alt="..." height="400px">
                <div class="card-body">
                  <h5 class="card-title">{{i.name}}</h5>
                  <a href="{% url 'update1' i.id %}" class="btn btn-warning">Update</a>
                  <a href="{% url 'delete1' i.id %}" class="btn btn-danger">delete</a>
                </div>
              </div>
        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}